.h1{
    border: 1px solid black;
    width: 30vw;
    display: flex;
    justify-content: center;
}
.h1 button{
    border: 0px;
    background-color: white;

}
.main,.head,.login,.signup{
    border:1px solid black;
}
.forgot{
    width: 40vw;
}
.alert {
    color: #f90800;
    
   
    font-size: 14px;
  }
  
